<!DOCTYPE html>
<html>
<head>
  <title>Simpledocupload</title>
  <%= stylesheet_link_tag    "simpledocupload/application", media: "all" %>
  <%= javascript_include_tag "simpledocupload/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
